body {
  color: #292929 !important;
  background: #e4e4e4 url(../images/salamander1/bg.png) 0 0 repeat-x !important;
}

div#section1 {
	background: #277bc0 url(../images/salamander1/topregion-bg.png) 0 0 repeat-x;
}

div#section1 .contentheading,
div#section1 div.moduletable h3,
div#section1 {
	color: #f0f0f0;
}

div#section1 a,
div#section1 a:link,
div#section1 a:visited {
   color: #ffcd06;
}

div#section2 {
	color: #fff;
	background: #00335b url(../images/salamander1/bottomregion-bg.png) 0 0 repeat-x;
}

div#section2 .contentheading,
div#section2 div.moduletable h3,
div#section2 {
	color: #dedede;
}

div#section2 a,
div#section2 a:link,
div#section2 a:visited {
   color: #ffcd06;
}

div#section1 h2, div#section1 h2 a, div#section2 h2, div#section2 h2 a {
	color: #00223e;
}

div#section1 td.section {
	background: transparent url(../images/salamander1/topline.png) 0 0 no-repeat;
}

div#section2 td.section {
	background: transparent url(../images/salamander1/bottomline.png) 0 0 no-repeat;
}

a:link,
a:visited,
a:hover,
.title, .title a,
.submitted,
.links,
.node .taxonomy,
#aggregator .news-item .categories, #aggregator .source, #aggregator .age,
#forum td .name,
div.admin-panel .description {
  color: #104a91;
}


div#masthead {
	background: #bdbdbd url(../images/salamander1/mast-bg.png) 0 0 repeat-x;
}

div#header .header-right {
	background: transparent url(../images/salamander1/mast-r.png) 100% 0 no-repeat;
}

div#header .header-left {
	background: transparent url(../images/salamander1/mast-l.png) 0 0 no-repeat;
	padding: 1px 0 14px 0;
}

div#bar {
	background: transparent url(../images/salamander1/bar.png) 0 0 repeat-x;
	height: 8px;
	margin: 0;
	padding: 0;
}

div#footer-wrapper {
	background: #000911 url(../images/salamander1/footer-bg.png) 0 0 repeat-x;
}

div#footer-wrapper .footer-right {
	background: transparent url(../images/salamander1/footer-r.png) 100% 0 no-repeat;
}

div#footer-wrapper .footer-left {
	height: 15px;
	overflow: hidden;
	background: transparent url(../images/salamander1/footer-l.png) 0 0 no-repeat;
}


div#breadcrumb, div#breadcrumb a {
  color: #353535;
  background-color: #bdbdbd;
}

div#breadcrumb .breadcrumb {
	padding: 0;
}

div#middlecontainer {
  background: #fff url(../images/salamander1/body-bg.png) 0 0 repeat-x;
}

div#middlecontainer a,
div#middlecontainer a:link,
div#middlecontainer a:visited {
   color: #104a91;
}

div#middlecontainer .title,
div#middlecontainer h2 {
	color: #104a91;
}

/* Menu styles */

div#navigation {
  background: #292929 url(../images/salamander1/menu-bg.png) repeat-x;
}

#primary a {
  background: url(../images/salamander1/menu-div.png) 100% 0 repeat-y;
  color: white;
}

#primary a:hover, #primary a.active {
  color: white;
  background: #353535;
}

#secondary {
  border-top: 1px solid #292929;
}

#secondary li a {
  color: white;
  background: url(../images/salamander1/menu-div.png) 100% 0 repeat-y;
}

#secondary a:hover {
  color: white;
  background-color: #555;
}

.legal1 {
	text-align: right;
	margin-top: 7px;
}
.legal2 {
	margin-top: -17px;
}
