.comment_comments a {
	background: url(images/_mini1/comments.gif) no-repeat;
	padding-left: 26px;
	clear: both;
}
li.comment_reply a {
	background: url(images/_mini1/mini-comments.gif) no-repeat 0 2px;
	padding-left: 15px;
}
.comment_add a {
	background: url(images/_mini1/mini-comment.gif) no-repeat left center;
	padding-left: 20px;
}
#block-comment ul li {
	padding: 0 0 .2em 1.5em;
	border: none;
	list-style-type: none;
	list-style-image: none;
	background: url(images/_mini1/mini-comment.gif) no-repeat 1px .1em;
}
#recent-comments ul li {
	background: url(images/_mini1/mini-comment.gif) no-repeat;
}
#block-blog ul li {
	padding: 0 0 .2em 1.5em;
	border: none;
	list-style-type: none;
	list-style-image: none;
	background: url(images/_mini1/mini-archive.gif) no-repeat 1px .1em;
}
#archives ul li {
	background: url(images/_mini1/mini-archive.gif) no-repeat;
}
#links ul li {
	background: url(images/_mini1/mini-blogroll.gif) no-repeat;
}
#categories ul li {
	background: url(images/_mini1/mini-category.gif) no-repeat;
}
.taxonomy li.first {
	padding: 1px 0px;
	text-decoration: none;
	background: url(images/_mini1/mini-category.gif) no-repeat 0px -2px;
	padding-left: 20px;
	color: #999999;
}
#leftsidebar a.active, #rightsidebar a.active {
	padding: 0 1.5em .2em 0;
	border: none;
	list-style-type: none;
	list-style-image: none;
	text-decoration: underline;
	background: url(images/_mini1/mini-check.gif) no-repeat right;
}
#block-taxonomy_dhtml a.active {
	padding: 0 0 .2em 1.7em;
	border: none;
	font-weight: bold;
	list-style-type: none;
	list-style-image: none;
	background: url(images/_mini1/mini-check.gif) no-repeat 1px -.2em;
}
.node_read_more a {
	background: url(images/_mini1/mini-down-arrow.gif) no-repeat left center;
	padding-left: 15px;
}
li.comment_edit a {
	background: url(images/_mini1/mini-edit.gif) no-repeat 0 2px;
	padding-left: 15px;
}
#block-taxonomy_dhtml a {
	padding: 0 0 .2em 1.7em;
	border: none;
	line-height: 180%;
	list-style-type: none;
	list-style-image: none;
	background: url(images/_mini1/mini-folder.gif) no-repeat 1px .1em;
}
.more-link a {
	background: url(images/_mini1/mini-more.gif) no-repeat left center;
	padding-left: 15px;
	font-size: 9px;
}
#block-forum ul li {
	padding: 0 0 .2em 1.5em;
	border: none;
	list-style-type: none;
	list-style-image: none;
	background: url(images/_mini1/mini-page.gif) no-repeat 1px .1em;
}
li.comment_delete a {
	background: url(images/_mini1/mini-trash.gif) no-repeat 0 2px;
	padding-left: 15px;
}
.blog_usernames_blog a {
	background: url(images/_mini1/mini-user.gif) no-repeat left center;
	padding-left: 20px;
}

#recent-posts ul li {
	background: url(images/_mini1/mini-page.gif) no-repeat;
}
